extends layout.pug

block content
    if (error)
        .alert.alert-danger(role='alert') Error: #{error}
        .alert.alert-danger(role='alert') Please try again.
    else
        .alert.alert-danger(role='alert') Error: Unknown error. Please try again.