html
    head
        title= title
        //- stylesheets
        link(rel="stylesheet" type="text/css" href="/stylesheets/reset.css")
        link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
        //- font awesome
        block head
    body
        header
        main
            if (message && message.length > 0)
                div #{message}
            block content
        footer

        block script
