html
    head
        title= title
        //- stylesheets
        link(rel="stylesheet" type="text/css" href="/stylesheets/reset.css")
        link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
        link(rel="stylesheet" type="text/css" href="/stylesheets/header.css")
        //- font awesome
        block head
    body
        header
            h1.site-title Premier League Predictor
            nav
                a.nav-link(href="/") Home
                a.nav-link(href="/predictions") Make Predictions
                a.nav-link(href="/games") View Scores
                if (!user)
                    a.nav-link(href="/users/login") Log In
                    a.nav-link(href="/users/signup") Create Account
                else
                    a.nav-link(href="/users/profile") Profile
                    a.nav-link(href="/users/logout") Logout

        main
            if (message && message.length > 0)
                div #{message}
            block content

        footer
            div Created by Jeff Heller
            div
                a(href="mailto:heller.jeffrey@gmail.com") heller.jeffrey@gmail.com

        block script
