html
    head
        title= title
        //- stylesheets
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/colors.css")
        link(rel="stylesheet" href="/stylesheets/main.css")
        //- font awesome
        block head
    body.bg-light
        header.bg-jet.text-powder
            .navbar
                a.navbar-brand.text-powder(href='/') Premier League Predictor
            ul.nav
                li.nav-item
                    a.nav-link.text-orange(href="/") Home
                li.nav-item
                    a.nav-link.text-orange(href="/predictions") Make Predictions
                li.nav-item
                    a.nav-link.text-orange(href="/games") View Scores
                if (!user)
                    li.nav-item
                        a.nav-link.text-orange(href="/users/login") Log In
                    li.nav-item
                        a.nav-link.text-orange(href="/users/signup") Create Account
                else
                    li.nav-item
                        a.nav-link.text-orange(href="/users/profile") Profile
                    li.nav-item
                        a.nav-link.text-orange(href="/users/logout") Logout

        main.p-2
            if (message && message.length > 0)
                .alert.alert-warning(role='alert') #{message}
            block content

        footer.bg-nickel.text-powder
            .container
                .row 
                    .col Created by Jeff Heller
                    .col 
                        a.text-powder(href="mailto:heller.jeffrey@gmail.com") heller.jeffrey@gmail.com

        block script
