main {
  min-height: 75vh;
  padding: 8px;
}

body {
  color: #312f2f;
  background-color: #fdfdfd;
}

/* fdfdfd-6c756b-93acb5-
jet: 312f2f- borders, text
orange:  fc440f (highlighting, attention) */
