extends ../layout.pug

block content
    .card
        .card-body
            h5.card-title.text-orange Select a week:
            h6.card-subtitle.text-muted Scores are available for all completed matches.  Select an upcoming week to view matches and kickoff times.
            ul
                each _, i in Array(38)
                    li
                        a(href=`/games/${i + 1}`) Matchday #{i + 1} 